{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

=======
  "rules": {
"semi": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "linebreak-style": "off",
    "indent": "off",
    "quotes": "off",
    "comma-spacing": "off",
"object-curly-spacing": "off",
    "eol-last": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "spaced-comment": "off",
    "padded-blocks": "off",
    "operator-linebreak": "off",
    "no-multi-spaces": "off"
  },
  "extends": ["eslint:recommended", "google"]
}

